package setup

import "github.com/pinas/ui/internal/structs"

templ DriveSetupPage(data structs.WizardInfo, systemInfo  structs.SystemInfo) {

<div id="setup-wizard">

    <div>
        <p>Setup Drive</p>
        <div>


        </div>
    </div>

</div>

}

