package setup

import "github.com/pinas/ui/internal/structs"

var helloHandle = templ.NewOnceHandle()

templ InstallProgressPage(data structs.WizardInfo) {

<div id="setup-wizard">

    @helloHandle.Once() {
    <script>
        let bodyText = "";
        let textarea = document.getElementById('consoleLog');

        function updateText(newValue) {
            let textarea = document.getElementById('consoleLog');
            bodyText = bodyText + newValue + "\n";
            const consoleTextArea = document.getElementById("consoleOutput");
            consoleTextArea.dispatchEvent( new CustomEvent('js-updated', {
                detail: { consoleLog: bodyText },
            }));

            textarea.scrollTop = textarea.scrollHeight;
            textarea = null;

        }

    </script>
    }

    <div data-init="@get('/consoleStream',{openWhenHidden: true})">
        <p>Install Progress</p>
        <div  data-signals:output2
              data-on:js-updated="$output2 = evt.detail.consoleLog"
              id="consoleOutput">

            <label>
                <textarea  id="consoleLog" data-bind="output2"  rows="10" cols="60" readonly  style="overflow-y: auto; " ></textarea>
            </label>

        </div>
    </div>



</div>

}