package setup

import "github.com/pinas/ui/internal/structs"

templ NasOptions(data structs.WizardInfo) {

    <div id="setup-wizard">

        <div>
                NAS Options
        </div>


        <div>

            <div>Install DNS Services</div>

            <div>
                <label>
                    <!-- Use data-bind to bind the element to your signal -->
                    <input type="checkbox" data-bind:nasOptions.installDns  />
                    Install DNS
                </label>

            </div>

        </div>



        <div>

            <div>Install a ROOT Certificate Authority</div>


            <div>
                <label>
                    <!-- Use data-bind to bind the element to your signal -->
                    <input type="checkbox" data-bind:nasOptions.installCa  />
                    Install CA
                </label>

            </div>
        </div>


        <div>

            <div>Enable NVMe over Fabrics</div>

            <div>
                <label>
                    <!-- Use data-bind to bind the element to your signal -->
                    <input type="checkbox" data-bind:nasOptions.installNvmeFa  />
                    Enable NVMe-FA
                </label>

            </div>
        </div>




        @WizardButtons(data)

    </div>
}
