package setup

import "github.com/pinas/ui/internal/structs"

templ SetupWizard(data structs.WizardInfo) {


  <div id="setup-wizard">


      <div>
          Testing  ...

      </div>




      @WizardButtons(data)


  </div>


}