package setup

import "github.com/pinas/ui/internal/structs"

templ SystemInfoPage(data structs.WizardInfo, systemInfo  structs.SystemInfo) {

    <div id="setup-wizard">

        <div>
            <p>System Information</p>
        <div>

            <div><p>Model Info:</p>  { systemInfo.Model.PiModel } </div>

        </div>

        <div>
            <p>CPU Info</p>
        </div>

        <div>
            <p>Memory Info</p>
        </div>

        <div>
            <p>PCIe GEN3 is Enabled</p>
        </div>

        <div>
            <p>PCIe Device List</p>
        </div>

        <div>
            <p>Drive Info</p>
        </div>

        </div>

        @WizardButtons(data)

    </div>



}