/rest-services/bin/
/rest-services/config.txt.org
/rest-services/testing.sh
/front-end-ui/bin/
/front-end-ui/internal/components/setup/enable-nvme-fa_templ.go
/front-end-ui/internal/components/setup/setup_wizard_templ.go
/front-end-ui/internal/components/setup/setup_wizard_header_templ.go
/front-end-ui/internal/components/setup/system_info_templ.go
/front-end-ui/internal/components/welcome_page_templ.go
/front-end-ui/internal/components/setup/wizard_buttons_templ.go
/front-end-ui/internal/components/setup/nas-options_templ.go
/rest-services/test.json
/rest-services/test.txt
/front-end-ui/internal/components/setup/drive_setup_templ.go
/front-end-ui/internal/components/setup/install_progress_templ.go
/front-end-ui/internal/components/setup/install_summary_templ.go
