[Unit]
Description=PI NAS UI Services
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/pinas/ui-services
ExecStart=/opt/pinas/ui-services/nas-ui-arm64
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target