package components

templ Home() {
    <!DOCTYPE html>
    <html lang="es" class="dark">
        <head>
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <title>Pi NAS</title>
            <link href="/static/css/style.css" rel="stylesheet">
            <link href="/static/css/pico/pico.min.css" rel="stylesheet">
            <script src="/static/js/htmx.js" defer></script>
        </head>


       <body>

        <div id="welcome-page" >
            <!--- For now just go to the setup pi flow -->
            @WelcomePage()
        </div>

        <button id="nextButton" class="mt-4 bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Next</button>


       </body>


     </html>
}