package components

templ WelcomePage() {

<div class="min-h-screen flex items-center justify-center bg-gradient-to-b from-blue-500 to-purple-600">
 <div class="bg-white rounded-lg shadow-xl p-8 m-4">
  <div>

   <p>Welcome to Pi NAS</p>

   <p>This setup process will help you setup your raspberry pi as a network attached storage(NAS) device.</p>
   <p>The PiNAS uses ZFS as the underlying file system</p>
   <p>There are a few things to consider when using a raspberry pi as a storage solution</p>

   <ol>
    <li><b>Storage Drives:</b> You want to use NVMe Drives for a nice and fast storage medium</li>
    <li><div><b>Fast PCIe Bus:</b> You want to use a GEN3 PCIe controller to get the most out of your NVMe Drives <br>
      It is recommended to use the <a target="_blank" rel="noopener noreferrer" href="https://www.seeedstudio.com/PCIe3-0-to-dual-M-2-hat-for-Raspberry-Pi-5-p-6358.html?srsltid=AfmBOopz5CJkUcbGJjfUnS4_AcCoOzsCAOFZxPtcGrpXfaXn1B7f8710">Seeed Stuido PCIe3.0 Dual M.2 Hat</a>
        </div>
       </li>
    <li><b>Fast Networking:</b> We recommend you use a 2.5Gig USB dongle. If you enable NVMe over fabrics, you don't want to use anything less than 2.5Gig Ethernet</li>
   </ol>

   <p>Currently, we have not found an M.2 hat that will support more than two NMVe drives reliably with ZFS. For this reason, PiNAS is limited to RAID 1 - Mirroring</p>

  </div>

  <div>




  </div>


 </div>
</div>


 }